asyncio==3.4.3
fastapi==0.115.6
langchain==0.3.10
langchain-core==0.3.22
langchain-openai==0.2.11
langchain-ollama==0.2.1
langchain-neo4j==0.1.1
langchain-experimental==0.3.3
langchainhub==0.1.21
neo4j==5.27.0
numpy==1.26.4
openai==1.57.0
ollama==0.4.4
opentelemetry-api==1.28.2
pydantic==2.10.3
uvicorn==0.32.1
requests==2.32.3
langfuse==2.56.0
orjson==3.10.12
